*{
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

.heading{
    margin: 12px;
    padding: 13px;
}

.card{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 87vw;
    gap: 10px;
    margin: 25px 25px;
    border-radius: 10px;
}

.image{
    position: relative;
}

.image img{
    height: 150px;
    padding: 20px;
}

.duration{
    position: absolute;
    bottom: 30px;
    right: 25px;
    background-color: #4b4646;
    border-radius: 5px;
    padding: 3px;
}